*,*:before,*:after{
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  h1{
    font-family: 'Ubuntu', sans-serif;
  }
  body,html{
    width: 100%;
    height: 100%;
    font-size: 16px;
  }
  body {
    background-color: white;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
   width:100%;
  }
  
  b{
    color: #ff0000;
  }
  
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .button {
    background-color: #ff0000;
    text-align: center;
    color: white;
    padding: 15px 15px;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .bg-blue {
    background: #45C7FF;
  }
  
  .color-red{
    color:#ff0000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
  }
  
  .header__section{
    display: flex;
    align-items: center;
  }
  
  .header__item{
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 5px;
  }
  
  .nav__link__first{
    margin-left: 50px;
  }
  
  .header__item a {
    color: black;
    padding-left: 10px;
  }
  
  .logo__content a {
    color: black;
    font-size: 50px;
  }
  
  nav a {
   color: black;
  }
  
  footer{
    background-color:#291B1B;
    color: white;
  }
  
  .header__section .header__item .open{
    color:#4F8FC0;
  }
  
  .header__section .header__item .link__registration{
    color: #4F8FC0;
  }

  .bakground__curs {
    height: 500px;
    border: 1px solid #ccc;
    object-fit: contain;
  }

  .name__cours{
    margin-top: 20px;
  }

  .cours__review{
    margin-top: 40px;
    margin-bottom: 30px;
  }

  h2{
      padding-bottom: 15px;
  }

  .button__buy{
    background-color: rgb(209, 12, 52);
    border: solid 1px #45C7FF;
    color: #fff;
    font-size: 15px;
    width: 157px;
    height: 53px;
    margin-top: 20px;
    border-radius: 10px;
}
 
  .lesson__list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .lesson__items{
    width: 300px;
    border: solid 1px rgba(0, 0, 0, 0.205);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .lesson__items p{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }





  
  .footer__items{
    display: flex;
  }
  
  .footer__content{
    margin: 10px 65px 29px 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .footer__content h1{
    font-size: 60px;
    padding-bottom: 10px;
  }
  
  .footer__content p{
    color: #fff;
    padding-top: 12px;
    padding-bottom: 5px;
  }
  
  .footer__content a{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  
  .foorm__button a{
    background-color: #ff0000;
    height: 53px;
    width: 144px;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .footer__subscribe{
    height: 43px;
    width: 201px;
  }