*,*:before,*:after{
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;

}

.header__section{
  display: flex;
  align-items: center;
}

.header__item{
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 5px;
}

.nav__link__first{
  margin-left: 50px;
}

.header__item a{
  color: black;
  padding-left: 10px;
}

.logo__content a{
  color: black;
  font-size: 50px;
}

nav a{
 color: black;
}

.header__section .header__item .open{
  color:#4F8FC0;
}

.header__section .header__item .link__registration{
  color: #4F8FC0;
}