*{
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'Roboto', sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
}

.logo__content{
  text-align: left;
  
}

nav{

}

header{
  display: flex;
}