*,*:before,*:after{
  margin: 0px;
  padding: 0px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
h1{
  font-family: 'Ubuntu', sans-serif;
}
body,html{
  width: 100%;
  height: 100%;
  font-size: 16px;
}
body {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  background-color: red;
  text-align: center;
  color: white;
  padding: 15px 15px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.bg-blue {
  background: #45C7FF;
}

.color-red{
  color: red;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;

}

.header__section{
  display: flex;
  align-items: center;
}

.header__item{
  padding: 10px 15px;
  font-size: 18px;
  margin-left: 5px;
}

.nav__link__first{
  margin-left: 50px;
}

.header__item a {
  color: black;
  padding-left: 10px;
}

.logo__content a {
  color: black;
  font-size: 50px;
}

nav a {
 color: black;
}

.header__section .header__item .open{
  color:#4F8FC0;
}

.header__section .header__item .link__registration{
  color: #4F8FC0;
}

.main-screen {
  text-align: center;
  color: #fff;
  padding: 100px 0;
  position: relative;
}

.background {
  background-image: url(images/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.background::after {
  content: '';
  display: block;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
}

.main-screen__greetings {
  display: inline-block;
  padding-bottom: 50px;
}

.main-screen__greetings-title {
  font-size: 120px;
  padding-bottom: 25px;
  letter-spacing: 20px;
  border-bottom: 2px solid red;
  width: 400px;
}

.main-screen__greetings-slogan {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
}

.main-screen__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #8FE4FF;
  font-size: 30px;
  text-align: left;
  line-height: 1.5;
  font-weight: 300;
}

.main-screen__items__items{
  width: 300px;

}

.main-screen__footer {
  max-width: 300px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.main-screen__footer-button {
  margin-bottom: 40px;
}


.section {
  padding: 100px 0;
  background: #ACE1FF;
}
