

.footer__items{
    display: flex;
  }
  
  .footer__content{
    margin: 10px 65px 29px 0px;
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  .footer__content h1{
    font-size: 60px;
    padding-bottom: 10px;
  }
  
  .footer__content p{
    color: #fff;
    padding-top: 12px;
    padding-bottom: 5px;
  }
  
  .footer__content a{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 5px;
  }
  
  .foorm__button a{
    background-color: #ff0000;
    height: 53px;
    width: 144px;
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  
  .footer__subscribe{
    height: 43px;
    width: 201px;
  }